body{
    font-family: Roboto;
}
header, main, footer{
    max-width: 640px;
    margin: 1rem auto;
    border: 10px outset rgba(0, 0, 0, 0.322);
    padding: 15px;
    background-color: rgb(187, 219, 255);
}

main{
    display: grid;
    grid-template-columns: 1;
    column-gap: 1rem;
}
section{
    padding: 0px 13px;
    background-color: aliceblue;
}