body{
    background-color: rgb(26, 31, 31);
    font-family: "Open Sans", sans-serif;
}

header{
    
    color: blanchedalmond;
    background-color: rgb(26, 31, 31);
}
head span{
    display: block;
}
h1{
    padding: 5px;
    margin: 15px;
}
h2{
    padding: 5px;
    margin: 15px;
    display:block;
    text-align: center;
}

footer h1, header h1{
    display:block;
    text-align: center;
    padding: 0;
}
#course-title{
    display:block;
    text-align: center;
    padding: 5px;
    margin: 15px;
    font-size: 20px;
}



p{
    text-align: center;
}

footer{
    margin: 10px;
    padding: 10px;
    height: 100px;
    background-color: black;
    border-radius: 10px;
}
footer p{
    color: blanchedalmond;
}

nav{
    margin: auto;
    padding: 20px 0px;
    max-width: 800px;
    background-color: black;
    display: block;


}

img{
    display: block;
    justify-content: space-around;
    max-width: 85%;
    height: auto;
    border-radius: 10px;
    margin: 7.5%;
}

nav a:hover{
    color: white;
    text-decoration: underline;
}

@media (min-width: 640px){
    nav ul{
        display: flex;
        justify-content: space-around;
    }
    nav ul li{
        list-style-type: none;
    }
}

a{
    color: rgb(255, 219, 225);
    font-size: 20px;

    text-decoration: none;
}

main{
    margin: auto;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 70px auto;
    color: black;
    max-width: 800px;
    height: 430px;
}

#name-title{
    grid-column: 1/span 2;
    grid-row: 1/ span 1;
    display:block;
    text-align: center;
    padding: 5px;
    margin: 15px;
    font-size: 30px;
    color: blanchedalmond;
}

#main-content{

    grid-column: 1/span 1;
    grid-row: 2/ span 1;
}

#main-content img{
    height: auto;
    width: 40%;
    display: inline-block;
    border-radius: 5px;
    margin: 15px;
}

#main-content p, #main-content h1{
    text-align: center;
}

#aside-content{
    grid-column: 2/span 1;
    grid-row: 2/span 1;
}
.card{
    margin: 10px;
    border-radius: 10px;
    background-color: rgb(255, 246, 248);;
}